@use '../abstracts/variables';
@use '../abstracts/mixins';

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    display: block;
    width: 90%;
    color: inherit;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    background: rgba(variables.$color-white, .5);
    border-bottom: 3px solid transparent;
    transition: all .3s;

    @include mixins.respond(tab-port) {
      width: 100;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(variables.$color-black, .1);
      border-bottom: 3px solid variables.$color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid variables.$color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: variables.$color-grey-dark-2;
    }
  } 

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: .7rem;
    margin-left: 2rem;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    display: inline-block;
    width: 49%;

    @include mixins.respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    position: fixed;
    opacity: 0;
  }

  &__radio-label {
    position: relative;
    font-size: variables.$default-font-size;
    padding-left: 4.5rem;
    cursor: pointer;
  }

  &__radio-button {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: -.4rem;
    left: 0;
    border: 5px solid variables.$color-primary;
    border-radius: 50%;

    &::after {
      content: "";
      display: block;
      background-color: variables.$color-primary;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      // transition: opacity .2s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}