@use '../abstracts/mixins';

// Simple CSS reset.
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Root font size is set on the html element.
// Set to 10px so that 1rem = 10px, an easy conversion.
// Set 10px as a percentage to retain the ability to adjust font size via the browser.
// 10/16 = 62.5%
// Defines what 1 rem is.
html {
  font-size: 62.5%;

  @include mixins.respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include mixins.respond(tab-port) {
    font-size: 50%;  // 1rem = 8px, 8/16 = 50%
  }

  @include mixins.respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
}
  
body {
  box-sizing: border-box;
  padding: 3rem;

  @include mixins.respond(tab-port) {
    padding: 0rem;
  }
}